body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 700px;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.add-task {
    display: flex;
    gap: 10px;
     margin: 25px 0;
}

#taskInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#taskList {
    padding: 0;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    margin: 10px 0;
    background-color: #eeeeee;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
}

.task-buttons {
    display: flex;
    gap: 5px;
    }
